*{
    padding: 0;
    margin:0;
}

.wrapper {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items: center;
    background-color:rgb(18, 18, 99);
    color:cornsilk;
}

.wrapper > div {
 padding: 1em;
    
.wrapper > div.contacts {
    padding:1em;
   
}

.wrapper > div.email {
    padding:1em;
    
}

.wrapper > div.location {
    padding:1em;
    

    
}
