* {
  font-family: "Franklin Gothic Regular", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(51, 51, 134);
  color: cornsilk;
  justify-content: space-around;
  margin: 0;
  padding: 1em;
}

.wrapper-header {
  display: flex;
  justify-content: space-around;
}

.wrapper-main {
  display: flex;
  font-size: 18px;
  justify-items: center;
  max-width: 1200px;
  margin: auto;
}

.avatar {
  max-width: 220px;
  border-radius: 15%;
}

.section-content {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  align-items: center;
}

h1,
h3,
h4 {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.profile {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 3px solid grey;
}

.main-info {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.main-info .description {
  margin-top: 1em;
}

blockquote {
  color: rgb(99, 99, 99);
}

.targets {
  margin-top: 1em;
}

.section-content-skills {
  margin-top: 2em;
}

.description ul {
  display: flex;
}

li {
  display: flex;
  padding-left: 2em;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(51, 51, 134);
  color: cornsilk;
  align-items: center;
}

.data-footer {
  font-size: 20px;
}
.contact {
  padding: 1em auto;
  margin: 1em;
}
.link-footer {
  display: flex;
  flex-direction: row;

  margin: 1em;
  padding-left: 2em;
}
.image-link {
  margin-right: 15px;
  justify-content: space-around;
  align-items: baseline;
}

.image-link:hover img {
  transform: scale(1.2);
}

.rs-school-js-link {
  align-self: center;
}
